/* styles.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Header styling */
header {
  width: 100%;
  background-color: #0073e6; /* Berkeley Blue */
  padding: 20px;
  text-align: center;
  color: white;
}

/* Navigation styling */
nav {
  margin: 20px 0;
}

nav a {
  color: #0073e6;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Container styling */
.container {
  text-align: center;
  padding: 20px;
}

/* Image styling */
.logo {
  width: 50px; /* Adjusted the size to be about three times smaller */
  margin-bottom: 1rem;
}

/* Section styling */
section {
  width: 80%;
  margin: 20px auto;
}

h2 {
  color: white; /* Change the color of subpage titles to white */
  background-color: #0073e6; /* Optional: Add a background color to make it stand out */
  padding: 10px;
  border-radius: 5px;
}

footer {
  margin-top: auto;
  padding: 10px;
  background-color: #0073e6; /* Berkeley Blue */
  color: white;
  text-align: center;
  width: 100%;
}

