/* styles.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Header styling */
header {
  width: 100%;
  background-color: #0073e6; /* Berkeley Blue */
  padding: 15px;
  text-align: center;
  color: white;
}

/* Navigation styling */
nav {
  margin: 20px 0;
}

nav a {
  color: white; /* Change the color of subpage titles to white */
  text-decoration: none;
  margin: 0 15px;
  font-size: 19.2px;
  position: relative;
}

nav a:hover {
  text-decoration: underline;
}

/* Dropdown menu styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0073e6;
  min-width: 160px;
  left: 50%;
  transform: translateX(-50%); /* Center the dropdown content */
  text-align: center; /* Center the text within the dropdown */
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #005bb5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover > a {
  background-color: #005bb5;
}

/* Dropdown indicator */
.dropdown a::after {
  content: '\25BC'; /* Unicode character for downwards triangle */
  font-size: 9.6px;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Remove arrow for subpages and center text */
.dropdown-content a::after {
  content: ''; /* Remove the arrow */
}

.dropdown-content a {
  text-align: center; /* Center the text */
}

/* Banner styling */
.banner {
  background-color: #151c87; /* Light blue color */
  color: #ffffff; /* Berkeley Blue text */
  text-align: center;
  font-size: 28.8px;
  font-weight:bold;
  padding: 20px;
  width: 100%;
}

/* Container styling */
.container {
  text-align: center;
}

/* Image styling */
.logo {
  width: 50px; /* Adjusted the size to be about three times smaller */
  margin-bottom: 16px;
}

/* Section styling */
section {
  width: 100%;
}

/* Important dates styling */
.important-dates {
  background-color: white;
  color: black;
  text-align: center;
}

.important-title {
  font-size: 28.8px;
  font-weight: bold;
  padding-top: 10px;
}

.important-info {
  font-size: 25.6px;
  margin-top: 10px;
}

/* Video section styling */
.video-section {
  background-color: #9e9d9d; /* Light gray color */
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.video-container {
  text-align: center;
}

/* PDF container styling */
.pdf-container {
  text-align: center;
  padding-top:20px;
}

.about {
  background-color: white;
  color: black;
  text-align: center;
}

.about-title {
  font-size: 28.8px;
  font-weight: bold;
  padding-top: 15px;
}

.about-info {
  font-size: 22.4px;
  margin-top: 15px;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.resources {
  background-color: white;
  color: black;
  text-align: left;
}

.resources-title {
  font-size: 25.6px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15%;
}

.resources-info {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 15%;
}

.resources-links {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 15%;
}

.faq-title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 15%;
  text-align: left;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}

.faq-answer {
  font-size: 18px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}

footer {
  padding: 10px;
  background-color: #0073e6; /* Berkeley Blue */
  color: white;
  text-align: center;
  width: 100%;
}

